{"deploy_url":"https:\/\/admin.brizy.io","preview_url":"https:\/\/swallow2a1e66e9.brizy.site","app_id":"2a1e66e9b1b71fda1aea421ac843634a34006dc73c45864fb5360d1bbef06e8a","version":2,"amazon_s3_editor_build_url":"https:\/\/b-cloud.becdn.net","media_url":"https:\/\/cloud-1de12d.becdn.net","allowed_query_params":"native_url|source_url|page|protected_page|system_page|force_open|token|ekk|mc","sync_project_version":"1.10"}